<section>
  <div class="header">
    <img class="h-logo" src="../assets/Images/Neudesic-Logo@2x.png">
    <div class="h-titles">
      <h2 class="h-t-hiring-text">WE ARE HIRING !</h2>
      <h3 class="h-t-text">Let's Bring In The Best, Work With The Best</h3>
      <h3 class="h-t-text">Refer Your Friend</h3>
    </div>
    <img class="h-referral-image" src="../assets/Images/referral-logo@2x.png">
  </div>
  <diV class="technical-stack-container">
    <h2 class="t-s-header">Neudesic brings you all the opportunity to bag referral rewards!</h2>
    <div class="t-s-contents">
      <div class="t-s-cards">
        <h2 class="t-s-title">FULL STACK DEVELOPER WITH AZURE</h2>
        <p class="t-s-technologies">This is Angular, Azure stack etc.</p>
      </div>
      <div class="t-s-cards">
        <h2 class="t-s-title">IoT, DATA, AND ANALYTICS</h2>
        <p class="t-s-technologies">IoT Suite, Stream Analytics etc.</p>
      </div>
      <div class="t-s-cards">
        <h2 class="t-s-title">FRONT END SPECIALIST</h2>
        <p class="t-s-technologies">HTML 5, CSS 3, LESS, SASS, Angular etc.</p>
      </div>
      <div class="t-s-cards">
        <h2 class="t-s-title">O365 / SHAREPOINT</h2>
        <p class="t-s-technologies">C#, Web API, Angular, CSOM, Office 365, Migration Experience.. etc.</p>
      </div>
    </div>
  </diV>
  <div class="location-container">
    <div>
      <img src="../assets/Images/location@2x.png">
      <h2 class="location-city">HYDERABAD</h2>
      <h3 class="location-adress">Raheja Mindspace, Hitech City</h3>
    </div>
    <img class="location-divider" src="../assets/Images/Line 7.png">
    <div>
      <img src="../assets/Images/location@2x.png">
      <h2 class="location-city">BENGALURU</h2>
      <h3 class="location-adress">Kalyani Tech Park, Brookefield</h3>
    </div>
    <img class="location-divider" src="../assets/Images/Line 7.png">
    <div>
      <img src="../assets/Images/location@2x.png">
      <h2 class="location-city">KOCHI</h2>
      <h3 class="location-adress">Carnival Infopark, Kakkanad</h3>
    </div>
  </div>
  <div class="referral-link">
    <a href="http://neuconnect.neudesic.com/HR/Lists/Employee%20Referral">http://neuconnect.neudesic.com/HR/Lists/Employee%20Referral</a>
  </div>
</section>
